{% extends 'base.html.twig' %}

{% block title %}
	Class
{% endblock %}

{% block body %}

	<div class="ml-32 mr-32 mt-20">
		<div class="flex items-center">
			<div class="block max-w-sm p-6 bg-gray-800 border-gray-700 border rounded-lg shadow-md">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{ classe.name }}</h5>
				<a href="{{ path('app_school_show', {'id': classe.school.id}) }}" class="font-normal text-gray-400 hover:underline">{{ classe.school.name }}</a>
			</div>
			<div class="ml-4">
				<a href="{{ path('app_student_create', {'classeId': classe.id}) }}">
					<button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
						Create Student
					</button>
				</a>
			</div>
		</div>
		<div class="overflow-x-auto sm:rounded-lg mt-4 shadow-md">
			<table class="w-full text-sm text-left text-gray-500">
				<thead class="text-xs text-gray-400 uppercase bg-gray-700">
					<tr>
						<th scope="col" class="py-3 px-6">
							Name
						</th>
						<th scope="col" class="py-3 px-6">
							Details
						</th>
						<th scope="col" class="py-3 px-6">
							Delete
						</th>
					</tr>
				</thead>
				<tbody>
					{% for student in classe.students %}
						<tr class="bg-gray-900 border-gray-700">
							<th scope="row" class="py-4 px-6 font-medium text-white whitespace-nowrap">
								{{ student.firstName }} {{ student.lastName }}
							</th>
							<td class="py-4 px-6">
								<a href="{{ path('app_student_show', {'id': student.id}) }}">show</a>
							</td>
							<td class="py-4 px-6">
								<a href="{{ path('app_student_delete', {'id': student.id}) }}">delete</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3" class="text-center text-white text-xl font-bold p-4 bg-gray-700 border-gray-600 border shadow-md">
								No Students
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}
