{% extends 'base.html.twig' %}

{% block title %}
	Class
{% endblock %}

{% block body %}

	<div class="ml-32 mr-32 mt-20">
		<div class="flex items-center">
			<div class="block max-w-sm p-6 bg-gray-800 border-gray-700 border rounded-lg shadow-md">
				<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">{{ classe.name }}</h5>
				<a href="{{ path('app_school_show', {'id': classe.school.id}) }}" class="font-normal text-gray-400 hover:underline">{{ classe.school.name }}</a>
			</div>
			<div class="ml-4">
				<a href="{{ path('app_student_create', {'classeId': classe.id}) }}">
					<button class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-600 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
						Create Student
					</button>
				</a>
			</div>
		</div>
		<div class="block p-6 mt-10 bg-gray-800 border-gray-700 border rounded-lg shadow-md">
			<h5 class="mb-4 text-2xl font-bold tracking-tight text-white">Students List</h5>
			<ul class="flex gap-5 flex-wrap">
				{% for student in classe.students %}
					<a href="{{ path('app_student_show', {'id': student.id}) }}" class="font-normal hover:underline">
						<li class="flex items-center justify-center text-white p-4 bg-gray-700 border-gray-600 border rounded-lg shadow-md">
							<p>{{ student.firstName }}</p>
							<p class="ml-2">{{ student.lastName }}</p>
						</li>
					</a>
				{% else %}
					<li class="flex-1">
						<div class="flex flex-col items-center justify-center p-4 bg-gray-700 border-gray-600 border rounded-lg shadow-md">
							<h5 class="mt-2 text-xl font-bold tracking-tight text-white">No students</h5>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}
